<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link href='./static/lib/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./static/lib/css/dc.css"/>
  <link rel="stylesheet" type="text/css" href="./static/css/custom.css"/>
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/Graphs.js"></script>
    
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script type="text/javascript" src="/static/js/Graphs.js"></script>

  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/movies.js' type='text/javascript'></script>

</head>

<body>
</body>
</html>